{{define "notfound"}}
<h1>404 - Page Not Found</h1>
<p>The page you're looking for doesn't exist or has been moved.</p>

{{if and .IsAuthenticated (or (eq .UserRole "admin") (eq .UserRole "editor"))}}
<div class="create-missing-page">
    <p>Would you like to create this page?</p>
    <button class="toolbar-button primary" id="create-missing-page">
        <!-- <i class="fa fa-plus"></i> -->
        <span class="button-text">Create This Page</span>
    </button>
</div>

<script>
    window.NotFound = { currentPath: "{{.CurrentDir.Path}}" };
</script>
<script src="/static/js/404.js?={{getVersion}}" defer></script>
{{end}}
{{end}}
