.cm-s-default .cm-header { color: #81a2be; font-weight: 600; }
.cm-s-default .cm-header-1 { color: #a1c2de; }
.cm-s-default .cm-header-2 { color: #91b2ce; }
.cm-s-default .cm-header-3 { color: #81a2be; }
.cm-s-default .cm-header-4 { color: #7192ae; }
.cm-s-default .cm-header-5 { color: #61829e; }
.cm-s-default .cm-header-6 { color: #51728e; }
.cm-s-default .cm-quote { color: #7c7c7c; }
.cm-s-default .cm-keyword { color: #9a9a9a; }
.cm-s-default .cm-atom { color: #9a9a9a; }
.cm-s-default .cm-number { color: #9a9a9a; }
.cm-s-default .cm-def { color: #9a9a9a; }
.cm-s-default .cm-variable { color: #ccc; }
.cm-s-default .cm-variable-2 { color: #b0b0b0; }
.cm-s-default .cm-variable-3 { color: #b0b0b0; }
.cm-s-default .cm-property { color: #ccc; }
.cm-s-default .cm-operator { color: #ccc; }
.cm-s-default .cm-comment { color: #707070; }
.cm-s-default .cm-string { color: #999; }
.cm-s-default .cm-string-2 { color: #999; }
.cm-s-default .cm-meta { color: #9a9a9a; }
.cm-s-default .cm-qualifier { color: #9a9a9a; }
.cm-s-default .cm-builtin { color: #9a9a9a; }
.cm-s-default .cm-bracket { color: #9a9a9a; }
.cm-s-default .cm-tag { color: #9a9a9a; }
.cm-s-default .cm-attribute { color: #9a9a9a; }
.cm-s-default .cm-hr { color: #9a9a9a; }
.cm-s-default .cm-link { color: #9a9a9a; }
.cm-s-default .cm-error { color: #999; }
.cm-s-default .cm-highlight { background-color: #665500; color: #ffffff; padding: 0.1em 0.2em; border-radius: 2px; }
.cm-s-default .cm-frontmatter-delimiter { color: #b58900; font-weight: bold; }
.cm-s-default .cm-frontmatter { color: #839496; }
