.cm-s-default .cm-header { color: #555; font-weight: 600; }
.cm-s-default .cm-header-1 { color: #333; }
.cm-s-default .cm-header-2 { color: #383838; }
.cm-s-default .cm-header-3 { color: #444; }
.cm-s-default .cm-header-4 { color: #484848; }
.cm-s-default .cm-header-5 { color: #505050; }
.cm-s-default .cm-header-6 { color: #555; }
.cm-s-default .cm-quote { color: #777; }
.cm-s-default .cm-keyword { color: #666; }
.cm-s-default .cm-atom { color: #666; }
.cm-s-default .cm-number { color: #666; }
.cm-s-default .cm-def { color: #666; }
.cm-s-default .cm-variable { color: #444; }
.cm-s-default .cm-variable-2 { color: #555; }
.cm-s-default .cm-variable-3 { color: #555; }
.cm-s-default .cm-property { color: #333; }
.cm-s-default .cm-operator { color: #333; }
.cm-s-default .cm-comment { color: #777; }
.cm-s-default .cm-string { color: #666; }
.cm-s-default .cm-string-2 { color: #666; }
.cm-s-default .cm-meta { color: #555; }
.cm-s-default .cm-qualifier { color: #555; }
.cm-s-default .cm-builtin { color: #555; }
.cm-s-default .cm-bracket { color: #555; }
.cm-s-default .cm-tag { color: #555; }
.cm-s-default .cm-attribute { color: #555; }
.cm-s-default .cm-hr { color: #555; }
.cm-s-default .cm-link { color: #555; }
.cm-s-default .cm-error { color: #777; }
.cm-s-default .cm-highlight { background-color: #fff3cd; border-radius: 2px; }
.cm-s-default .cm-frontmatter-delimiter { color: #b58900; font-weight: bold; }
.cm-s-default .cm-frontmatter { color: #586e75; }
